body{
    font-family: 'Open Sans', sans-serif; 
    background: ;
    text-align: center;
    margin: 0;
    
}
h1{
    font-family: "Inter", sans-serif;
    font-size: 49px;
    font-weight: normal;
}

#trecho1{
    width: 348px;
    margin: 0;

}

#trecho1 img{
    margin-bottom: 72px;
}

span{
    color: #ff9900;
} 

h1 span{
    font-weight: bold;
}

